<div class="row login">
  <div class="col-sm-2 col-md-3 col-lg-4"></div>
  <div class="col-sm-8 col-md-6 col-lg-4">
     <md-card class="login-card">
      <md-toolbar color="primary">Login</md-toolbar>
      <md-card-content>



        <form class="login-form">
            <md-input class="login-input" placeholder="username"></md-input>
            <md-input class="login-input" type="password" placeholder="password"></md-input>
            <md-card-actions>
              <button class="pull-right" md-raised-button (click)="gotoMenu()">Login</button>
              <button class="pull-right" md-button>Sign Up</button>
            </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-sm-2 col-md-3 col-lg-4"></div>
</div>

