
button {
  width: 100%;
  margin-top: 3px;
}

span.title{
  width: 100%;
}

md-button{
  text-align: right;
}

.full-width {
  width:100%;
}

div {
  text-align: right !important;
}

md-icon {
   background-repeat: no-repeat;
   display: inline-block;
   fill: currentColor;
   height: 24px;
   width: 24px;
}

.centered-container{
  height: 80%;
  display:block;
  overflow:auto;

  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; 
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.footer {
    width: auto;   
    margin-top:-130px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.footer-card {
  padding: 10px 16px;
}