<div style="height:100%">
    <menu-header [title]="'Menú'" [showBackButton]="false"></menu-header>

    <a md-raised-button routerLink="singleplayer">Single Player</a>
    <a md-raised-button routerLink="multiplayer">Multi Player</a>

    <a md-raised-button routerLink="select-game" [disabled]="true">Perfil</a>
    <a md-raised-button routerLink="select-game" [disabled]="true">Configuración</a>
    <a md-raised-button routerLink="select-game" [disabled]="true">Créditos</a>
    <a md-raised-button (click)="logout()">Logout</a>
</div>