<div *ngIf="!isStarted">
<md-toolbar>
    <span class="title">Selecciona un juego</span>

    <md-button class="md-fab md-mini" style="cursor:pointer" (click)="menu()">
	    <md-icon class="md-24" style="color:#921919;">keyboard_arrow_left</md-icon>
    </md-button>


</md-toolbar>

<button md-raised-button (click)="play(gameConfig._id)" *ngFor="let gameConfig of gameConfigs">{{gameConfig.name}}</button>

</div>
<game-view>
  <first-level-body>
    <h1>Disfrutá el juego!</h1>
  </first-level-body>

  <level-load-body>
    <effectivity-content [isGameOver]="false"></effectivity-content>
  </level-load-body>

  <game-over-body>
    <effectivity-content [isGameOver]="true"></effectivity-content>
  </game-over-body>

</game-view>
